.overflow-container {
  overflow: hidden;
}

.scroll-container {
  display: flex;
  animation: scroll 18s linear infinite;
  flex-wrap: nowrap;
}

.scroll-item {
  height: 200px;
  width: 300px;
  border-radius: 25px;
  margin: 10px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: red;
  transform-origin: 0%;
  z-index: 20000;
}

@media (max-width: 767px) {
  .cat{
    font-size: 15px !important;
    text-decoration: none !important;
    margin-top: 12px !important;
  }
  .catname{
    font-size: 25px !important;
  }
  .singleproduct{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  #carouselItem{
    height: 500px !important;
  }
  .category{
    font-size: 22px !important;
  }
  .category-names{
    font-size: 15px !important;
  }
  #SelectedProductViewImg{
    width: 200px !important;
  }
  #carouselimg{
    height: 250px !important;
  }
  .EnquiryTitle{
    margin-top: 8px !important;
  }
  .baseName{
    font-size: 30px !important;
  }
  .icon{
    font-size: 15px !important;
  }
  .EnquiryTitle{
    font-size: 30px !important;
  }
  FormControl{
    margin-top: 5px;
  }
}
.LabelNameSPV{
  font-size: 15px !important;
}